<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body>
    <div class="grid grid-cols-5">
           <div class="col-start-3 colspan-4">
           <%- include('heading.ejs') %>
           <div class="py-6">
               <% if (election.ended) { %>
                   <b>
                       <div class="text-red-600">
                           ******** Election Ended ********
                       </div>
                   </b>
               <% } else if (election.launched) { %>
                   <b>
                       <div class="text-green-600">
                       ******** Election Live ********
                       </div>
                   </b>
                   <div>
                   Voter can visit this link to cast their Vote :
                   <a href="/externalpage/<%=publicurl%>/"  class="py-1 hover:text-purple-blue text-blue-600" target="_blank">
                       https://online-voting.onrender.com/externalpage/<%=publicurl%>
                   </a>
                   </div>
                   <% } %>
           </div>

           <h3 class="text-2xl my-4 font-medium"><%= title %> Election Page</h3>

           <div class="py-3">
               <h2 class="my-2 text-lg text-black flex gap-1">No of Questions<span class="text-black-600"> <%= countquestions %> </span></h2>
               <a href="/questions/<%= id %>" class="py-1 hover:text-blue-800 text-blue-600">Modify Questions</a>
           </div>

           <div class="py-3">
               <h2 class="my-2 text-lg text-black flex gap-1">No of Voters<span class="text-black-600"> <%= countvoters %> </span></h2>
               <a href="/voters/<%=id %>" class="py-1 hover:text-blue-800 text-blue-600">Modify Voters</a>
           </div>

           <div class="py-3">
               <a href="/election/<%=id%>/launch" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-4 py-2 mr-4">
                   Launch Election
                </a>
                <a href="" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-8 py-2">
                    End Election
                </a>
            </div>
            <div class="py-3">
                <a href="/election/<%= election.id %>/electionpreview" 
                    class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded mr-4 px-4 py-2">
                    Preview election
                </a>
               <a href="" class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2">
                   Preview Results
                </a>
               
           </div>

         
               <div class="py-3">
                   <% if (messages && messages.error && messages.error.length > 0) { %>
                       <% for(var i=0; i<messages.error.length; i++) { %>
                           <div class="text-red-600">
                            <li> <%= messages.error[i] %></li>
                        </div>
                       <% } %>
                   <% } %>
               </div>
           

        </div>
    </div>
</body>
</html>