<html>
  <head>
    <title>modify the voters</title>
    <meta name="csrf-token" content="<%= csrf %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-3">
      <div class="col-start-2 colspan-3">
        <h1 class="text-2xl font-semibold text-black-600">
          Modify Voter Passowrd
        </h1>
        <form
          method="post"
          action="/elections/<%= election.id %>/voter/<%= voter.id %>/modify"
        >
          <input type="hidden" name="_csrf" value="<%= csrf %>" />

          <div class="py-8">
            <label for="passowrd">New Password : </label>
            <input
              type="text"
              name="passowrd"
              placeholder="voter passowrd"
              class="border border-gray-300 rounded text-gray-900 w-full p-2"
            />
          </div>
          <div class="fpy-3">
            <button
              type="submit"
              class="bg-green-600 text-white px-5 py-2 rounded font-medium mr-2 mb-2"
            >
              Update
            </button>
            <a
              href="/voters/<%=election.id%>"
              class="bg-red-600 text-white px-5 py-2.5 rounded font-medium ml-10 mb-2"
            >
              Cancel
            </a>
          </div>
        </form>
        <div class="py-3">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                  <div class=" text-red-600" >
                    <li> <%= messages.error[i] %></li>
                  </div>
            <% } %>
          <% } %> 
        </div> 
      </div>
    </div>
  </body>
</html>
